* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables de paleta de colores y de fuentes para los textos */
:root {
    --palid-blue: #EBF5FF;
    --lighter-gray: #f0f0f0;
    --light-gray: #a4a4a4;
    --gray: #333333;
    --light-black: #282828;
    --dark-gray: #2e2e2e;
    --oceanic-blue: #2B4860;
    --h1-font-family: 'DM Serif Text', sans-serif;
    --sans-serif-font-family: 'Rubik', sans-serif;
    --serif-titles-font-family: 'Cormorant', serif;
    --serif-texts-font-family: 'Crimson Text', serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 0 270px 0;
}

h1 {
    font-family: var(--h1-font-family);
    font-size: 62px;
    color: var(--gray);
    font-weight: 300;
}

h2,
h3 {
    font-family: var(--sans-serif-font-family);
    font-size: 24px;
    color: var(--palid-blue);
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
    margin-bottom: 5px;
}

/* Barra de navegación */
#navbar {
    height: 80px;
    border-bottom: 2px var(--light-gray) solid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    transition: background-color 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

#navbar.turn-darkmode {
    background-color: var(--gray) !important;
}

.turn-darkmode {
    color: white !important;
}

#navbar img {
    width: 200px;
}

#navbar > i { /* Selector del primer hijo "i" inmediato de #navabar. Consultar tipos de selectores en https://www.w3schools.com/cssref/css_selectors.php */
    position: absolute;
    left: 60px;
    /* pt es otra unidad en CSS. A mí me gusta utilizarla solamente para texto. */
    font-size: 26pt;
    color: var(--dark-gray);
}

/* Menú desplegable */
#collapsable-navbar {
    color: white;
    background-image: url(/images/side-nav-gallery.svg);
    background-size: cover;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    /* Transformación y transición que actuarán cuando se active o desactive la barra de navegación lateral por medio de JavaScript */
    transform: translateX(-250px); 
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 250px;
    /* vh (viewport height) es una unidad que está directamente relacionada con el viewport.
    Se comporta como un porcentaje. La barra de navegación será del 100% de la altura del viewport */
    height: 100vh;
    border-right: 2px var(--light-gray) solid;
}

.show-navbar {
    opacity: 1 !important;
    visibility: visible !important;
    transform: translateX(0) !important;
}

#close-menu-icon {
    position: relative;
    z-index: 10;
}

.modify-navbar-text {
    font-family: var(--sans-serif-font-family);
    font-size: 32px;
}

/* Elementos del menú desplegable */
#collapsable-navbar div:not(.upper-collapsable-navbar) { 
    /* :not() es un selector. Esta reglas se puede leer como 
    "todos los divs que no tienen la clase 'upper-collapsable-navbar' y que son hijos del elemento con id 'collapsable-navbar'" */
    font-family: var(--serif-titles-font-family);
    font-size: 18pt;
    font-weight: 700;
}

.inner-collapsable-navbar menu {
    list-style-type: none;
}

.inner-collapsable-navbar menu li {
    margin-bottom: 5px;
}

.inner-collapsable-navbar menu li a {
    color: white;
    text-decoration: none;
}

.inner-collapsable-navbar menu li a:hover {
    color: var(--light-gray);
}

.inner-collapsable-navbar menu:nth-child(2) {
    /* :nth-child() es otro selector. Esta regla se puede leer como 
    "el segundo elemento 'menu' hijo de los elementos con clase 'inner-collapsable-navbar'" */
    font-size: 13.5pt;
}

.inner-collapsable-navbar,
.lower-collapsable-bar {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lower-collapsable-bar {
    padding: 60px 40px;
}

.lower-collapsable-bar p {
    font-size: 14pt;
    font-style: italic;
}

#close-menu-icon {
    font-size: 26pt;
    cursor: pointer;
}

#menu-icon:hover {
    cursor: pointer;
}

.upper-collapsable-navbar {
    height: 80px;
    border-bottom: 2px var(--light-gray) solid;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* Enlaces de navegación del centro de la página */
.main-navigation-links {
    margin-top: 30px;
    display: flex;
    gap: 2px;
    position: relative;
    z-index: 1;
    display: flex;
}

.main-navigation-links div {
    background-image: url(/images/nav-grainy.svg);
    background-color: #2B2B2B;
    padding: 45px 80px;
    display: flex;
}

.main-navigation-links div:nth-child(1) {
    padding-left: 90px;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
}

.main-navigation-links div:nth-child(2) img {
    width: 200px;
}

.main-navigation-links div:nth-child(3) {
    padding-right: 90px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 90px;
}

/* Contenido del CV */
#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 180px 140px;
    border-radius: 100px 100px 0 0;
    background-image: url(/images/main-grainy.png);
    background-size: cover;
}

.main-navigation-links div img {
    width: 257px;
}

#about-me h1 {
    text-align: center;
    color: white;
}

#about-me > section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 85px;
    width: 850px;
}

/* Contacto en CV (enlaces a GitHub y correo) */
.about-me-contact-container {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.about-me-contact-container a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--palid-blue);
    font-family: var(--sans-serif-font-family);
    font-style: italic;
}

/* El efecto de animación del hover en el texto de los enlaces de contacto está explicado en este video: https://youtu.be/yu0Cm4BqQv0 */

/* La siguiente regla es una animación. Consultar animaciones en
https://www.w3schools.com/cssref/css3_pr_animation-keyframes.php
https://www.w3schools.com/cssref/css3_pr_animation.php
https://www.w3schools.com/cssref/css_animatable.php */

@keyframes text-hover {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: -200% center;
    }
}

.about-me-contact-container a:hover * {
    color: #7777774d;
    fill: #77777781;
    animation: text-hover 1s ease infinite forwards;
    background: linear-gradient(to left,
            black,
            rgba(43, 43, 43, 0.37),
            rgba(100, 100, 100, 0.226),
            rgba(82, 82, 82, 0.445),
            rgba(65, 65, 65, 0.384),
            rgb(37, 37, 37),
            black);
    background-clip: content-box;
    -webkit-background-clip: text;
    background-size: 170%;
}

.about-me-contact-container svg {
    width: 40px;
}

/* Barra horizontal (horizontal rule) */
hr {
    border: 1px var(--palid-blue) solid;
    opacity: 0.25;
}

/* CV */
.about-me-info-container {
    display: flex;
    justify-content: space-between;
}

.about-me-info-container>div {
    gap: 20px
}

.about-me-info-container div {
    display: flex;
    flex-direction: column;
    font-family: var(--sans-serif-font-family);
    color: var(--palid-blue);
    text-align: end;
    font-weight: 300;
}

.about-me-info-span {
    font-style: italic;
}

div.technologies {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.technologies .technologies-row-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
    width: 400px;
}

div.technologies span {
    padding: 5px 10px;
    background-color: var(--oceanic-blue);
    border-radius: 10px;
}

div.languages-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    font-size: 16pt;
}

div.languages-flex span:nth-child(2),
#oxford-test {
    color: var(--light-gray);
}

#oxford-test {
    position: absolute;
    transform: translate(-170px, 52px);
    font-size: 10pt;
    font-style: italic;
}


/* ################ NOTAS ################ */

#notes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.4rem;
    padding: 6rem;
    width: 80rem;
    margin: 0 auto;
    color: var(--gray);
}

#notes-menu {
    width: calc(100% + 10rem); /* Cálculo del ancho de un elemento haciendo la suma del 100% de su espacio más 10rem */
    height: 40rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border: 1px var(--light-gray) solid;
    border-radius: 20px 0 0 20px;
    list-style-type: none;
    align-self: flex-start;
}

#notes-menu li {
    border-bottom: 1px var(--light-gray) solid;
    padding: 1.4rem 2rem;
    font-family: var(--sans-serif-font-family);
}

/* Cada <li> tiene un borde inferior que simula la separación de cada elemento. Quitamos esta propiedad al último <li> */
#notes-menu li:last-child {
    border: none;
}

#notes-menu li:focus {
    outline: none;
    background-color: var(--lighter-gray);
}

#notes-menu li:hover {
    background-color: var(--lighter-gray);
    border-collapse: collapse;
    cursor: pointer;
}

#notes-menu .active-li {
    background-color: var(--lighter-gray);
}

#notes-menu h5 {
    font-weight: 500;
    font-size: 14pt;
}

#notes-menu p {
    font-weight: 500;
    font-size: 11pt;
    color: var(--light-gray);
}

#notes-container {
    max-width: 700px;
    padding-right: 3rem;
    height: 40rem;
    overflow-y: auto;
    align-self: flex-start;
}

#notes-container::-webkit-scrollbar, #notes-menu::-webkit-scrollbar {
    width: 5px;
    background-color: var(--lighter-gray);
}

#notes-container::-webkit-scrollbar-thumb, #notes-menu::-webkit-scrollbar-thumb {
    background: var(--light-gray);
    border-radius: 25px;
}

#notes-menu::-webkit-scrollbar-thumb {
    border-radius: 0;
}

.note-info {
    display: none;
}

.note-info.active-note {
    display: block;
}

.note-info h4 {
    font-family: var(--serif-texts-font-family);
    font-weight: 800;
    font-size: 24pt;
}

.note-info .note-date {
    font-weight: 700;
    font-size: 14pt;
    color: var(--light-gray);
}

.note-info hr {
    margin: 2rem 0;
    border-color: var(--dark-gray);
}

.note-info p {
    font-family: var(--serif-texts-font-family);
    font-size: 16pt;
    color: var(--dark-gray);
}

@media screen and (max-width: 1600px) {
    main {
        padding: 100px 0 170px 0;
    }
}

@media screen and (max-width: 1024px) {
    main {
        padding: 100px 0 170px 0;
    }

    #notes-wrapper {
        width: auto;
    }

    .main-navigation-links div img {
        width: 175px;
    }

    .main-navigation-links div:nth-child(2) img {
        width: 175px;
    }

    .main-navigation-links div {
        padding: 45px 60px;
    }
}